
.outer-main-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 200px auto;
    grid-auto-rows: auto;
}

.main-content{
    width: calc(100vw - 200px);
    height: 100%;
    background-color: lightblue;
}