
.left-bar{
    height: 100%;
    width: 200px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    position: absolute;
    background-color:white;
}
.main-nav-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, minmax(0, 300));
    align-items: center;
}

.nav-section1{
    width: 100%;
    display: grid;
    justify-content: space-around;
    align-items: center;
}
.nav-section1 a{
    margin: auto;
}
.nav-header img{
    margin-bottom: 30px;
}
.nav-profile-picture{
    height: 80px;
    width: 80px;
    background-color: blue;
    border-radius: 50%;
    margin: auto 0;
    justify-self: center;
}
.nav-section2{
    grid-row: 2;
    width: 100%;
    display: grid;
    margin-left: 15px;
}
.nav-section2 a{
    margin: 5px 0;
    font-size: 14px;
}
.nav-section3{
    grid-row: 3;
    display: grid;
    grid-auto-rows: min-content;
    margin-left: 15px;
}
.nav-section3 a{
    margin: 5px 0;
    font-size: 12px;
}
.nav-section3 a:first-child{
    font-size: 15px;
    color: black;
}
.nav-section4{
    grid-row: 4;
    margin-left: 15px;

}
.nav-section5{
    width: 50px;
    height: 50px;
    grid-row: 5;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 50%;
    margin: auto 0 30px 0;
    justify-self: center;
    text-align: center;
}
.nav-section5 div:first-child{
    font-size: 30px;
}
.nav-section5:hover{
    cursor: pointer;
}
.dots{
    font-size: 50px;
}