@import url('https://fonts.googleapis.com/css?family=Asap:700|Barlow+Semi+Condensed|Electrolize|Kanit|Mitr|Nanum+Gothic|Nunito&display=swap');
.profile{
    margin: 5% 0 0 20%;
    max-width: 80%;
}
.profile h1{
    font-size: 48px;
    font-family: 'Asap', sans-serif;
}
.profile h2{
    font-size: 36px;
    font-family: 'Mitr', sans-serif;
    margin: 20px 0;
}
.profile-header{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    max-width: 80%;
}
.profile-picture{
    height: 150px;
    width: 150px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 30px;
    margin: auto 20px auto 0;
}
.profile-info{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
.profile-info h2{
    font-family: 'Kanit', sans-serif;
}
.profile-name{
    width: fit-content;
}
.profile-name h1{
    width: fit-content;
}
.profile-info textarea{
    font-size: 24px;
    font-family: 'Nanum Gothic', sans-serif;
    outline: none;
    resize: none;
    overflow: auto;
    width: 100%;
    border: none;
}
.edit{
    position: relative;
}
.edit i{
    padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: -50px;
    top: 0;
    display: none;
}
.edit:hover i{
    display: block;
}
.profile-social-media{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background-color: aqua;
    margin-top: auto;
}
.profile-social-media *{
    font-size: 2em;
    padding-right: 30px;
    margin: auto;
}
.profile-tabs{
    display: flex;
    flex-direction: row;
    height: 50px;
    top: 20px;
    color: aquamarine;
}
.profile-tabs > a{
    padding: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.profile-search i{
    left: 35px;
    padding: 10px;
    position: relative;
    transform: scaleX(-1);
}
.profile-address{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-family: 'Nanum Gothic', sans-serif;
}
.profile-address input{
    font-size: 12px;
    width: fit-content;
    font-family: 'Nanum Gothic', sans-serif;
    border: none;
}
.profile-search input{
    height: 25px;
    padding-left: 35px;
    border-radius: 30px;
    width: 300px;
    font-family: 'Electrolize', sans-serif;
}
.profile-search input:focus{
  outline-width: 0;
}
.profile-yums{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.profile-yum{
    height: 150px;
    width: 150px;
    background-color: bisque;
    border: black solid;
}
.profile-collections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
