.settings{
    display: flex;
    flex-direction: column;
}

.settings-flex-item{
    display: flex;
    flex-direction: column;
}
.settings-flex-item.preference-row{
    margin: auto;
}
.settings-flex-item h2{
    font-size: 24px;
}

.settings-flex-item > div > div {
    margin: 0 5px;
}
.settings-label{
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
}
.settings-label input{
    margin-right: 50px;
}

#account-settings input{
    border: none;
    border-bottom:  2px solid gray;
    font-size: 20px;
    padding-bottom: 5px;
    margin: 10px 10px 10px 0;
}